<h2 mat-dialog-title>
  <mat-icon svgIcon="people" class="menuBtn x2"></mat-icon>
</h2>
<mat-dialog-content class="mat-typography">
  <div style="cursor:pointer; position: relative;" (click)="addPeople()">
    <table>
      <tr>
        <td>
          <mat-icon svgIcon="person_add" class="menuBtn x1_5">People</mat-icon>
        </td>
        <td>
          <div style="padding-left: 7px; font-size: 16px;">Add People</div>
        </td>
      </tr>
    </table>
  </div>
  <div [ngStyle]="{display:search ? 'block' : 'none'}" style="padding-bottom: 20px; position: relative;">
    <form class="form-search" #searchForm="ngForm" (ngSubmit)="searchPeople(searchForm)" style="padding:20px; padding-top:0px;">
      <div class="container-fluid">
        <div *ngIf="invalidPerson" class="alert alert-danger">Person not found :-(</div>
        <br />
        <mat-form-field class="example-full-width" [ngStyle]="{display:personFound ? 'none' : 'block'}">
          <input matInput placeholder="User Name" type="email" id="username" name="username" ngModel required autofocus>
        </mat-form-field>
        <br />
        <button mat-button mat-raised-button color="primary" type="submit" [ngStyle]="{display:personFound ? 'none' : 'block'}">Search</button>
        <div [ngStyle]="{display:personFound ? 'block' : 'none'}" style="position: relative; top: -20px;">
          <span id="labelFoundUser" class="my-bold">Found: </span>{{userName}} <span class="my-bold">!</span>
          <div id="divInvite" style="padding-bottom: 20px;">
            <p class="my-bold">Select Showcases to share with {{userName}}:</p>
            <div *ngFor="let showcase of showcases">
              <mat-checkbox (click)="checkBox(showcase.viewValue)">{{showcase.viewValue}}</mat-checkbox>
            </div>
          </div>
          <button mat-button mat-raised-button color="warn" type="button" [ngStyle]="{display:personFound ? 'block' : 'none'}"
            (click)="sendInvite()" class="btnNewAcc">Send Invitation</button>
        </div>
      </div>
    </form>



  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-raised-button color="warn" type="button" [ngStyle]="{display:personFound ? 'block' : 'none'}"
    (click)="clearSearch()" class="btnNewAcc">Clear Search</button>
  <button mat-button mat-dialog-close mat-raised-button color="accent">Exit</button>
  <!-- <button mat-button (click)="updateImage(this)" [mat-dialog-close]="true" cdkFocusInitial mat-raised-button color="primary" >Save</button> -->
</mat-dialog-actions>