<mat-toolbar color="primary">
  <!-- <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon svgIcon="menu2"></mat-icon>
  </button>
  <mat-menu #menu="matMenu"> -->
  <button mat-menu-item class="toolbarMenuItem">
    <a style="text-decoration: none; color: rgba(0,0,0,.87);" routerLink="/home" routerLinkActive="active">
      <mat-icon class="matIcon menuBtn" svgIcon="home" >Home</mat-icon>
      <!-- <span>Home</span> -->
    </a>
  </button>
  <!-- <button mat-menu-item class="toolbarMenuItem">
    <mat-icon svgIcon="settings" class="menuBtn" style="margin-top:-13px;">Settings</mat-icon>
    
  </button> -->
  <button mat-menu-item class="toolbarMenuItem">
    <a style="text-decoration: none; color: rgba(0,0,0,.87);" routerLink="/upload" routerLinkActive="active">
      <mat-icon svgIcon="upload" class="menuBtn">Upload</mat-icon>
      <!-- <span>Upload</span> -->
    </a>
  </button>
  <!-- </mat-menu> -->

  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>
  <button mat-menu-item class="userAccountMenuItem" >
    <mat-icon svgIcon="account" >Account</mat-icon>
    <!-- <span>Account</span> -->
  </button>
  <span>{{title}}</span>
</mat-toolbar>
<div [@routerAnimation]="getRouteAnimation(route)">
  <router-outlet #route="outlet"></router-outlet>
</div>