<!-- <mat-icon svgIcon="thumbs-up"></mat-icon> -->

<button mat-button (click)="openDialog()" style="font-size:10px; color:rgb(2, 216, 216)">via beyondlogical.com</button>

<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="icon-image"></div>
    <mat-card-title>{{description}}</mat-card-title>
    <mat-card-subtitle>{{date}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="myImg()" alt="kids skatin peir village" id="card" (click)="edit(myImg())">
  <mat-card-content>
    <p>
      {{comment}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
<br />
<div *ngIf="showcases.length > 0">
  <div class="showcaseHeader" *ngFor="let showcaseIndex of db; let s = index;">
    <div (click)="openVert(showcases[s].viewValue)">
      {{showcases[s].viewValue.toUpperCase()}}
    </div>
    <div class="myWorkContent">
      <img *ngFor="let card of showcaseIndex; let i = index;" src="{{db[s][i].url}}" height="200" (click)="updateImg(s,i)"
        style="margin:0 4px;">
    </div>
  </div>
</div>